{% extends 'bankingApp/manager/index.html' %}
{% block content  %}
<section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Add Loan Details <small class="text-muted">Welcome to 
                        
                        </small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        <button class="btn btn-white btn-icon btn d-none d-md-inline-block float-right m-l-10" type="button">
                            <a href= {% url 'home'%}><i class="zmdi zmdi-Back">Back</i></a>
                        </button>
                        
                        
                       
                    </div>
                </div>
            </div>
<div class="container-fluid">                
                
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                {% if s_msg %}
                <div class="alert alert-success" role="alert">
                    {{s_msg}}
                </div>
                {% endif %}
                <div class="header">
                    <h2><strong>Add</strong> Loan details <small>Description text here...</small> </h2>
                    <ul class="header-dropdown">                            
                        <li class="remove">
                            <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                        </li>
                    </ul>
                </div>
                <form action="{% url 'add-loan'%}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="body">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="header">
                                    <h2><strong> Interest </h2></h3> personal Loan interest 6%<br>Home Loan interest 4.5%</strong></h3>
                                
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Your Account number" name="account_number">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                
                                <input list="loantype" name="loan_type"class="form-control show-tick" placeholder=" Select Loan Type">
                                <datalist id="loantype" >
                                    <option value="Home Loan">
                                    <option value="Personal Loan">

                                </datalist>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <br>
                                    <input type="text" class="form-control" placeholder="Loan amount" name="loan_amount">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <br>
                                    <input type="text" class="form-control" placeholder=" Enter periods " name=" periods">
                                </div>
                            </div>

                            
                        </div>

                        <div class="row clearfix">
                           
                                
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <br>
                                    <input type="password" class="form-control" placeholder=" Enter Transaction Password " name=" tranpassword">
                                </div>
                            </div>
                            
                            
                        </div>
                            <br>

                        <div class="clearfix">
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-primary btn-round">Submit</button>
                                <button type="submit" class="btn btn-default btn-round btn-simple">Cancel</button>
                            </div>
                        </div>

                        

                        </div>
                
                    </div>
                </form> 
                
            </div>
        </div>
    </div>

</div>
</section>

{% endblock  %}
               