{% extends 'bankingApp/manager/index.html' %}
{% block content  %}
<section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Withdraw Amount <small class="text-muted">Welcome to 
                        
                        </small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        <button class="btn btn-white btn-icon btn d-none d-md-inline-block float-right m-l-10" type="button">
                            <a href= {% url 'home'%}><i class="zmdi zmdi-Back">Back</i></a>
                        </button>
                        
                        
                        
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
                
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            {% if msg %}
            <div class="alert alert-success" role="alert">
                {{msg}}
            </div>
            {% endif %}
            <div class="user-info">
                <div class="image"><a href="..\doctor\profile.html"><img src="{{cid.pic.url}}" alt="User" height="300px"></a></div>
                <div class="detail">
                    <h4>{{cid.firstname}} <small>{{cid.lastname}}</small> </h4>
                                           
                </div>
            </div>
            <div class="header">
                <h2><strong>Add</strong> Transcation details <small>Description text here...</small> </h2>
                <ul class="header-dropdown">                            
                    <li class="remove">
                        <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                    </li>
                </ul>
            </div>
            
            <form action="{% url 'deposit' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="body">
                    
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control"  name="custno" value="{{cid.cust_no}}" readonly>
                                <div class="header">
                                    <h2><strong>{{cid.user_id.email}}</strong></h2>
                                </div>
                               <h2><strong> <input type="hidden" class="header" placeholder="Enter Your id" name="email1" value="{{cid.user_id.email}}"  readonly></strong></h2>
                                
                            </div>
                        </div>
                        

                        <div class="col-sm-6">
                            <div class="form-group">
                                <br>
                                <input type="text" class="form-control" placeholder="Enter Your Title" name="title">
                                
                            </div>
                        </div>




                        <div class="col-sm-6">
                            <div class="form-group">
                                
                                <br>
                                <input list="transcation_type1" name="transcation_type"class="form-control" placeholder="Select transcation- type">
                                        <datalist id="transcation_type1" >
                                            <option  value="Deposit">
                                            <option  value="Withdraw">
                                            
                                        </datalist>
                            </div>
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="form-group">
                                <br>
                                <input type="text" class="form-control" placeholder="Enter Amount" name="amount">
                            </div>
                            <div class="form-group">
                                <br>
                                <input type="Password" class="form-control" placeholder="Enter Transaction Password" name="tpassword">
                            </div>
                        </div>

                        
                    </div>


                        <div class="clearfix">
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-primary btn-round">Submit</button>
                            </form>
                                
                               
                                
                            </div>
                        </div>

                    </div>
            
            </div>
            
        </div>
    </div>
</div>

            </div>
</section>

{% endblock  %}
               